

.profile {
  line-height: 1.5;
  margin:30px;
  display: inline;
  
    
}
.Container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 700px;
    margin-left: 200px
   
   
    
  }

.profiles{
    background-image: url("../../assets/images/profile.jpg");
    background-size: cover;
}




